{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-runtime",
    ["transform-es2015-modules-commonjs", {
      "allowTopLevelThis": true
    }]   
  ]
}